body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

p {
    font-size: 30px;
    color: blueviolet;
}

button {
    padding: 5px 30px;
    font-size: 18px;
    background-color: #5f9ea0;
}