body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(image/c023ba770e69d08fe90e75077b3fab72.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 30px;
    color: blueviolet;
}

button {
    padding: 5px 30px;
    font-size: 18px;
    background-color: #5f9ea0;
}